<h2>Modifier l'article : {{ Post.title }}</h2>

<form method="POST">

    <div>
         {% csrf_token %}  <!-- Protection contre les attaques CSRF -->
    </div>

   <div>
        {{ form.as_p }}  <!-- Affiche le formulaire en HTML -->
   </div>
    <button type="submit">Enregistrer </button>
</form>



<style>
body{
    color: #008374;
    font-family: sans-serif;
}
    button{

        padding: 10px 20px ;
    }
    div{
        margin-bottom: 7%;
        padding: 10px;
    }
button{
    color: white;
    border: none;
    border-radius: 5px;
      background-color: #008374;
    transition: all 0.5s;
   width: 326px;
    margin-left: 5%;
}
    input{
        padding: 10px  ;
        width: 326px;
        height: 20px;
    }
    form{
        margin-left: 5%;
        border-radius: 5px;
        padding: 10px 20px ;
        width: 30%;

        box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
        margin-top: 50px;
        margin: 10%;
    }
    button:hover{
        color: white;

    }
</style>